::ng-deep
  app-header
    mat-icon.mat-icon
      font-size: 2rem
    app-social-media
      mat-icon.mat-icon
        fill: rgba(#FFFFFF, 1)
        height: 2rem
        width: 2rem
  .brand img
    @apply min-h-[100px] md:min-w-[300px]
  .text-white
    @media screen and (max-width: 769px)
      color: white!important

::ng-deep .select-idioma
  color: white
  .select-wrapper
    max-width: 100px
    input.select-dropdown
      border-bottom: 0
      margin: 0
    .caret
      fill: white
  .dropdown-content li > a,
  .dropdown-content li > span
    @apply text-primary