<div class="bg-primary">
  <div class="container px-4 py-3 max-w-[96rem] grid grid-cols-1 lg:grid-cols-12 place-content-center">
    <div class="lg:col-span-4 place-self-center lg:place-self-start flex items-center">
      <a [routerLink]="['/']" class="brand-logo inline-flex">
        <img class="h-10 md:h-10 lg:h-10 object-contain" src="./assets/images/evoluciona-logo.svg"
          alt="Evoluciona Globaltech">
      </a>
    </div>
    <div class="lg:col-span-8 self-center">
      <div class="flex justify-between gap-4">
        <div class="flex-1 flex items-center lg:justify-center select-idioma">
          <select #locale (change)="changeLocale(locale.value)" [value]='lang' class="bg-primary material_select">
            <option value="en">English</option>
            <option value="es">Español</option>
          </select>
        </div>
        <div class="hidden lg:flex flex-1 flex items-center justify-end">
          <app-social-media></app-social-media>
        </div>
        <div class="block lg:hidden flex-1 flex items-center justify-end">
          <a href="#" data-target="mobile-menu" class="sidenav-trigger text-white">
            <mat-icon>menu</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
