<nav class="shadow-none lg:py-6">
  <div class="container px-4 max-w-[96rem] header">
    <div class="nav-wrapper">
      <!-- <ul class="right hide-on-med-and-down"> -->
      <ul class="header-menu">
        <li class="text-primary" [routerLink]="item.value.router" routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }" [ngClass]="[item.value.childrens ? 'dropdown-trigger' : '']"
          [attr.data-target]="'dropdown' + item.key" *ngFor="let item of mainMenu.defaultOptions | keyvalue">
          <div *ngIf="item.value.router">
            <span [innerHTML]="item.value.name | translate"></span>
            <!-- {{item.value.name | translate}} -->
            <!-- Dropdown Structure -->
            <ul *ngIf="item.value.childrens" [attr.id]="'dropdown' + item.key" class='dropdown-content'>
              <li *ngFor="let child of item.value.childrens">
                <a [routerLink]="child.router" routerLinkActive="router-link-active"
                  [routerLinkActiveOptions]="{ exact: true }">
                  <span class="menu-initials">{{child.initials}}</span>
                  {{child.name | translate}}
                </a>
              </li>
            </ul>
          </div>
          <div *ngIf="item.value.link">
            <a [href]="item.value.link" target="_blank">{{item.value.name | translate}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-menu">
  <li class="text-white" *ngFor="let item of mainMenu.defaultOptions | keyvalue">
    <a class="sidenav-btn" 
      [routerLink]="item.value.router"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }" 
      *ngIf="!item.value.childrens && !item.value.link"
      (click)="cerrarSidenav()"
      [innerHTML]="item.value.name | translate">
    </a>
    <div *ngIf="item.value.link">
      <a [href]="item.value.link" target="_blank" [innerHTML]="item.value.name | translate"></a>
    </div>

    <ul *ngIf="item.value.childrens" class="collapsible">
      <li>
        <div class="collapsible-header flex items-center justify-between">
          {{item.value.name | translate}}
          <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
        </div>
        <div class="collapsible-body">
          <a *ngFor="let child of item.value.childrens" [routerLink]="child.router"
            routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }" (click)="cerrarSidenav()"
            class="flex p-4 leading-normal ">
            <span class="menu-initials mr-1 font-bold">{{child.initials}}</span>
            <span [innerHTML]="child.name | translate"></span>
          </a>
        </div>
      </li>
    </ul>
  </li>
  <li class="flex justify-start">
    <app-social-media></app-social-media>
  </li>
</ul>