nav
  background: white
  @media (min-width: 1023px) 
    background: linear-gradient(to bottom, #000000, rgba(0,0,0, 0))
  ul
    @media screen and ( min-width: 1023px )
      display: flex
      gap: 1rem
  li
    @apply py-0 text-white
    cursor: pointer
    font-weight: 400
    font-size: 1.1rem
    padding-bottom: 10px
    display: flex
    align-items: center
    flex: 1
    justify-content: center
    div
      display: flex
      align-items: center
    span
      line-height: 120%
      display: inline-flex
    &:empty
      display: none
    &.router-link-active
      & > div
        display: flex
        align-items: center
        flex: 1
        justify-content: center
        height: 100% 
        & > span
          position: relative
          height: 100%
          align-items: center
          &::after
            content: ''
            background: var(--orange-color)
            height: 3px
            display: block
            position: absolute
            bottom: 0
            left: 0
            max-width: 70%
            width: 65%
            z-index: 1
    &:focus-visible
      outline: none
    // &:last-child
    //   justify-content: flex-end
      &.router-link-active
        &::after
          left: initial
          right: 0
  ul.dropdown-content
    .menu-initials
      font-weight: 700
    li 
      margin-left: 0
      padding: 0
      & > a,
      & > span
        @apply text-primary
        &:hover
          background: transparent
      &:hover
        background: var(--orange-color)
      // & > a.router-link-active
      //   background: var(--orange-color)
  .sidenav-trigger
    padding: 4px 0
  ul a
    @apply text-primary
    font-size: inherit
    padding: 0
    &:hover
      background: transparent

.dropdown-content
  overflow: hidden
  top: 20px

.sidenav
  @apply p-6
  .collapsible
    margin: 0
    .collapsible-header
      padding: 0
  li
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    line-height: 1.5
    & > a
      color: white
      font-size: 1.15rem
      height: auto
      line-height: 1.5
      padding: 1rem
      position: relative
      &.router-link-active
        &::after
          content: ''
          background: var(--orange-color)
          height: 3px
          display: block
          position: absolute
          bottom: -0.5rem
          left: 1rem
          max-width: 70%
          width: 65%
          z-index: 1

::ng-deep .sidenav li > a br
  display: none

#mobile-menu
  @apply bg-primary

.header-menu
  @media screen and ( max-width: 1023px )
    display: none

nav, nav .nav-wrapper i
  height: auto
  line-height: normal
  position: absolute
  z-index: 1