<div class="form-pca md:p-6">
    <h2 *ngIf="!formSubmitted" mat-dialog-title class="dialog-title">
        {{ 'PCA.FORM.TITLE' | translate }}
    </h2>
    <button mat-icon-button mat-dialog-close aria-label="Close dialog" class="dialog-close-btn">
        <mat-icon>close</mat-icon>
    </button>

    <mat-dialog-content>
        <!-- Loading overlay -->
        <div *ngIf="isSubmitting" class="loading-overlay" aria-live="polite" role="status">
            <div class="loading-content">
                <mat-progress-spinner
                    class="example-margin"
                    color="#EE7F00"
                    mode="indeterminate"
                    value="100">
                </mat-progress-spinner>
                <p class="mt-2">{{ 'PCA.FORM.SENDING' | translate }}</p>
            </div>
        </div>

        <!-- (submit)="onSubmit($event)" -->
        <iframe id='hidden6778134000000950046Frame' name='hidden6778134000000950046Frame' style='display: none;'
        class='iframe-container'></iframe>
        <div *ngIf="!formSubmitted" class='wf-parent' id='BiginWebToRecordFormParent6778134000000950046'>
            <div class='wf-wrapper' id='BiginWebToRecordFormDiv6778134000000950046'>
                <form id='BiginWebToRecordForm6778134000000950046' 
                    name='BiginWebToRecordForm6778134000000950046'
                    class='wf-form-component' 
                    data-ux-form-alignment='top'
                    method='POST'
                    enctype='multipart/form-data'
                    target='hidden6778134000000950046Frame'
                    action="https://crm.zoho.com/crm/WebToLeadForm"
                    onSubmit='return checkMandatory6778134000000950046()'
                    accept-charset='UTF-8'>
                    <!-- Do not remove this code. -->
                    <input type='text' style='display:none;' name='xnQsjsdp'
                        value='c9d571f274291b4256e8221941eb7c2523544a355756d381c1c2a7410af0f259' />
                    <input type='hidden' name='zc_gad' id='zc_gad' value='' />
                    <input type='text' style='display:none;' name='xmIwtLD'
                        value='f2021906c523c66f8825da50ba06df77f7630e25fe9428586d949eff6237cbe7dd1aa4e99d5ba6165fb8a88be169fe17' />
                    <input type='text' style='display:none;' name='actionType' value='Q29udGFjdHM=' />
                    <input type='hidden' name='rmsg' id='rmsg' value='true' />
                    <input type='text' style='display:none;' name='returnURL' value='null' />
                    <div id='elementDiv6778134000000950046' class='wf-form-wrapper'>

                        <div class="grid gap-4">
                            <div class="wf-row grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.FIRST_NAME' | translate }} <sup
                                            class="text-red-800">*</sup></mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="First Name" maxlength="40" type="text"
                                            class="wf-field-item browser-default" oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.LAST_NAME' | translate }} <sup
                                            class="text-red-800">*</sup></mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Last Name" maxlength="80" type="text"
                                            class="wf-field-item browser-default" oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="wf-row grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.EMAIL' | translate }} <sup
                                            class="text-red-800">*</sup></mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Email" maxlength="100" type="email" fvalidate="true"
                                            ftype="email" class="wf-field-item browser-default"
                                            oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>

                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.MOBILE' | translate }}</mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Mobile" maxlength="30" type="text" fvalidate="true"
                                            ftype="mobile" class="wf-field-item browser-default"
                                            oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="wf-row grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.COUNTRY' | translate }}</mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Mailing Country" maxlength="100" type="text"
                                            class="wf-field-item browser-default" oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>

                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.CITY' | translate }}</mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Mailing City" maxlength="100" type="text"
                                            class="wf-field-item browser-default" oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="wf-row">
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.COMPANY_ORGANIZATION' | translate }} <sup
                                            class="text-red-800">*</sup></mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <input matInput name="Accounts.Account Name" maxlength="200" type="text"
                                            class="wf-field-item browser-default" oninput="removeError(this)" />
                                    </div>
                                </mat-form-field>
                            </div>

                            <div class="wf-row">
                                <mat-form-field appearance="standard" class="w-full">
                                    <mat-label class="wf-label">{{ 'PCA.FORM.COMMENTS' | translate }}</mat-label>
                                    <div class="wf-field wf-field-mandatory">
                                        <textarea matInput name="Description" maxlength="32000"
                                            class="wf-field-item browser-default wf-text-area-input"
                                            oninput="removeError(this)"></textarea>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="wform-btn-wrap mt-6">
                            <button id="formsubmit" type="submit" mat-raised-button color="primary"
                                class="w-full text-2xl pt-4 pb-4 font-medium mat-button-base--md">
                                {{ 'PCA.FORM.SUBMIT' | translate }}
                            </button>
                        </div>

                        <div class="flex mt-8 justify-center text-center">
                            <a href="#"
                                class="w-auto text-medium-gray underline underline-offset-4 inline-block mx-auto"
                                (click)="onDownloadTechnicalSheet($event, 'without-registration')">
                                {{ 'PCA.FORM.DOWNLOAD_ANYWAY' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="formSubmitted" id="download-technical-sheet" class="flex flex-col justify-center align-middle py-32">
            <div [innerHTML]="'PCA.FORM.SUCCESS_MESSAGE' | translate" class="mb-10"></div>
            <button (click)="onDownloadTechnicalSheet($event, 'post-registration')"
                type="button"
                class="w-auto bg-orange text-white inline-flex mx-auto p-4 align-middle">
                {{ 'PCA.FORM.DOWNLOAD_TECHNICAL_SHEET' | translate }}
                <mat-icon [svgIcon]="'icon-download'" class="ml-2"></mat-icon>
            </button>
        </div>
    </mat-dialog-content>
</div>